.text-center{
    text-align: center;
}
.footer-row{
display: flex;
justify-content: space-between;
}

.menu-has-search.menu-has-cart #site-header.style-1 #main-nav{
    right: 0;
}
.menu-has-cart #site-header.style-1 #main-nav{
    right: 0;
}
.main-logo img{
    width: 150px;
}

.p-t40{
    padding-top: 40px;
}
.list{
    display: flex;
}