.text-center{
    text-align: center;
}
.footer-row{
display: flex;
justify-content: space-between;
}

.menu-has-search.menu-has-cart #site-header.style-1 #main-nav{
    right: 0;
}
.menu-has-cart #site-header.style-1 #main-nav{
    right: 0;
}
.main-logo img{
    width: 250px;
}

.p-t40{
    padding-top: 40px;
}
.list{
    display: flex;
}
iframe{
    margin-bottom: 0;
}
.residential{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/sub_page_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.residential h1{
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.commercial{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/sub_page_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.commercial h1{
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.smallJobs{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/sub_page_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.smallJobs h1{
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
#main-nav > ul > li > a{
    font-size: 16px;
    font-weight: 600;
}
#main-nav > ul > li > a:hover {
    color: #d91303;
}
#main-nav .sub-menu li a{
    font-size: 16px;
    font-weight: 600;
}
#main-nav .sub-menu li a:hover{
    color: #d91303;
}
#top-bar .top-bar-content i.fa {
    color: #d91303;
}
#footer{
    background-color: #c5c5c5;
    color: black;
}
#footer p{
    color: #333
    
    ;
}

#footer-widgets .widget.widget.widget_information ul li{
    color: #333;
}
.bottom-bar-content, .bottom-bar-content a{
    font-size: 16px;
}

.galler-section img{
    width: 100%;
}
.gallery img{
    width: 24%;
   
    padding: 10px;
}
.gallery img:hover{
    transform: scale(1.05);
    transition: 1s;
}

#testimonials{
    background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/testi_bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#testimonials h2{
    color: #000;
}
#testimonials p{
    color: #000;
}
.wprt-testimonials.style-2 .customer .inner{
    background-color: #fff;
    /* opacity: 0.6; */
}
.wprt-testimonials.style-2 .whisper{
    color: #000;
    font-weight: 600;
}
.wprt-testimonials.style-2 .name {
    color: #000;
}

.form-row{
    display: flex;
    justify-content: center;
}
.payments{
    display: flex;
    flex-wrap: wrap;
}
.payments span{
    width: 32%;
}
.payments svg {
    width: 57px;
}

.wprt-testimonials.style-2 .position{
    color: #000;
}